/build/
/cache/
/.cache/
/.venv/
/.pytest_cache/
__pycache__/
*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.log
*.pem
*.key
*.p12
*.pfx
*.csr
*.crt
*.der
*.bin
*.core
core.*
**/.DS_Store
__MACOSX/
.AppleDouble
._*
Thumbs.db
/.idea/
/.vscode/
